@import "../../styles/theme";
@import "../../styles/variables";

.divider {
    height: 1px;
    width: 98%;
    display: block;
    margin: 16px auto;
    overflow: hidden;
    background-color: $default-text;
}