<div *ngFor="let container of containerList" class="col-md-4 col-sm-6 col-xs-12">
    <cw-card title="{{container.names}}">
        <div class="container-phase {{container.state}}">
            <p>
                <span class="container-state">{{container.state}}</span>
                <br/>
                <span class="container-status">{{container.status}}</span>
            </p>
        </div>
        <span class="divider"></span>
        <div class="container-image">
            <span class="title">Image</span>
            <span class="name">{{container.image}}</span>
        </div>
    </cw-card>
</div>