@import "containers/containers";
@import "login/login";

main {
    padding-left: $sidebar-width;
    padding-top: $header-height;
    position: relative;
    min-height: 100%;

    font: 14px/16px $font-family;
    color: $default-text;

    @include body-bg();
}

.content {
    padding: 32px 8px;
}

@media screen and (max-width: $resXS) {
    .content {
        padding: 8px 20px;
    }
}

.page-top {
    padding: 13px 15px 27px;
    display: table;
}

.page-title {
    min-height: 1px;
    width: auto;
    margin: 0;
    padding: 0 0 18px;
    float: left;
    position: relative;

    border: 0;
    color: $default-text;
    font-size: 24px;
    font-weight: $font-bold;
    text-transform: uppercase;
    opacity: 0.9;
}