<div *ngIf="details">
    <div class="page-top">
        <h1 class="page-title">Container {{details.name | replace : '/'}}</h1>
    </div>

    <div class="col-xs-12">
        <cw-card title="Details">
            <div class="row vertical-align">
                <div class="col-sm-12 col-md-5">
                    <div class="container-phase bg {{details.state.status}}">
                        <p>
                            <span class="container-state">{{details.state.status}}</span>
                            <br/>
                            <span class="container-name">{{details.name | replace : '/'}}</span>
                        </p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-7">
                    <cw-info-item [name]="'Name'">
                        <span class="value">{{details.name | replace : '/'}}</span>
                    </cw-info-item>
                    <cw-info-item [name]="'Hostname'">
                        <span class="value">{{details.config.hostname}}</span>
                    </cw-info-item>
                    <cw-info-item [name]="'Image'">
                        <span class="value">{{details.config.image}}</span>
                    </cw-info-item>
                    <cw-info-item [name]="'Image ID'">
                        <span class="value">{{details.imageId}}</span>
                    </cw-info-item>
                    <cw-info-item [name]="'Pid'">
                        <span class="value">{{details.state.pid}}</span>
                    </cw-info-item>
                    <cw-info-item [name]="'Error'">
                        <span class="value">{{details.state.error}}</span>
                    </cw-info-item>
                    <cw-info-item [name]="'Exit Code'">
                        <span class="value">{{details.state.exitCode}}</span>
                    </cw-info-item>
                    <cw-info-item *ngIf="details.state.running"
                                  [name]="'Started Time'"
                                  [divider]="details.config.command">
                        <span class="value">{{details.state.startedTime | date: 'yyyy/MM/dd hh:mm:ss'}}</span>
                    </cw-info-item>
                    <cw-info-item *ngIf="!details.state.running"
                                  [name]="'Finished Time'"
                                  [divider]="details.config.command">
                        <span class="value">{{details.state.finishedTime | date: 'yyyy/MM/dd hh:mm:ss'}}</span>
                    </cw-info-item>
                    <cw-info-item *ngIf="details.config.command"
                                  [name]="'Command'"
                                  [divider]="false">
                        <code class="value">{{details.config.command | join}}</code>
                    </cw-info-item>
                </div>
            </div>
        </cw-card>
    </div>

    <div class="col-xs-12">
        <cw-tabbed-card>
            <ngb-tabset>
                <ngb-tab title="Environments">
                    <template ngbTabContent>
                        <cw-container-environment [environment]="details.config.environment"></cw-container-environment>
                    </template>
                </ngb-tab>
                <ngb-tab title="Network">
                    <template ngbTabContent>
                        <pre>
                            {{details.networkSettings | json}}
                        </pre>
                    </template>
                </ngb-tab>
            </ngb-tabset>
        </cw-tabbed-card>
    </div>

    <div class="col-xs-12">
        <cw-card title="Container details">
        <pre>
            {{details | json}}
        </pre>
        </cw-card>
    </div>
</div>