<div class="page-top">
    <h1 class="page-title">
        <span>Container {{details?.name | replace : '/'}}</span>
        <i class="fa fa-cog fa-spin" *ngIf="loading"></i>
    </h1>
</div>

<div class="col-xs-12">
    <cw-card>
        <div card-header>
            <h3 class="card-title">details</h3>
        </div>

        <div class="row vertical-align" card-body>
            <div class="col-sm-12 col-md-5">
                <div *ngIf="details" class="container-phase bg {{details.state.state}}">
                    <p>
                        <span class="container-state">{{details.state.state}}</span>
                        <br/>
                        <span class="container-status">{{details.state.status}}</span>
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-7">
                <cw-info-item [name]="'Name'">
                    <span class="value">{{details?.name | replace : '/'}}</span>
                </cw-info-item>

                <cw-info-item [name]="'Hostname'">
                    <span class="value">{{details?.config.hostname}}</span>
                </cw-info-item>

                <cw-info-item [name]="'Image'">
                    <span class="value">{{details?.image}}</span>
                </cw-info-item>

                <cw-info-item [name]="'Image ID'">
                    <span class="value">{{details?.imageId}}</span>
                </cw-info-item>

                <cw-info-item *ngIf="details?.state.running"
                              [name]="'Pid'">
                    <span class="value">{{details?.state.pid}}</span>
                </cw-info-item>

                <cw-info-item *ngIf="details?.state.exitCode !== 0"
                              [name]="'Error'">
                    <span class="value">{{details?.state.error}}</span>
                </cw-info-item>

                <cw-info-item *ngIf="!details?.state.running"
                              [name]="'Exit Code'">
                    <span class="value">{{details?.state.exitCode}}</span>
                </cw-info-item>

                <cw-info-item *ngIf="details?.state.running"
                              [name]="'Started Time'"
                              [divider]="details?.config.command">
                    <span class="value">{{details?.state.startedAt | date: 'yyyy/MM/dd hh:mm:ss'}}</span>
                </cw-info-item>

                <cw-info-item *ngIf="!details?.state.running"
                              [name]="'Finished Time'"
                              [divider]="details?.config.command">
                    <span class="value">{{details?.state.finishedAt | date: 'yyyy/MM/dd hh:mm:ss'}}</span>
                </cw-info-item>

                <cw-info-item *ngIf="details?.config.command"
                              [name]="'Command'"
                              [divider]="false">
                    <code class="value">{{details?.config.command}}</code>
                </cw-info-item>
            </div>
        </div>
    </cw-card>
</div>

<div class="col-xs-12">
    <cw-card>
        <div card-header>
            <ul class="card-tabs">
                <li routerLinkActive="selected">
                    <a [routerLink]="'./environment'">
                        <span>Env Variables</span>
                    </a>
                </li>

                <li routerLinkActive="selected">
                    <a [routerLink]="'./network'">
                        <span>Network</span>
                    </a>
                </li>

                <li routerLinkActive="selected">
                    <a [routerLink]="'./config'">
                        <span>Config</span>
                    </a>
                </li>

                <li routerLinkActive="selected">
                    <a [routerLink]="'./logs'">
                        <span>Logs</span>
                    </a>
                </li>
            </ul>
        </div>

        <div card-body>
            <router-outlet></router-outlet>
        </div>
    </cw-card>
</div>
