@import "../../scss/theme";
@import "../../scss/variables";

.container-phase {
    @mixin state-color($color) {
        border-color: $color;
        color: $color;
    }

    $state-circle-diameter: 160px;

    display: block;
    margin: auto;

    width: $state-circle-diameter;
    height: $state-circle-diameter;
    line-height: $state-circle-diameter - 5px;

    border-radius: $state-circle-diameter / 2;
    border: 2px solid;

    text-transform: capitalize;
    text-align: center;

    p {
        margin: auto;
        vertical-align: middle;
        display: inline-block;
        line-height: normal;

        .container-state {
            font-size: 14px;
        }

        .container-status {
            font-size: 12px;
        }
    }

    &.created, &.restarting, &.paused {
        @include state-color($info);
    }
    &.running {
        @include state-color($primary);
    }
    &.exited {
        @include state-color($danger);
    }
    &.dead {
        @include state-color($danger);
    }
}

.container-image {
    @include cw-clearfix;

    margin: 10px auto;
    text-align: center;

    .title {
        color: $default;
        float: left;
    }

    .name {
        float: right;
    }
}