@import "../../scss/theme";
@import "../../scss/variables";

@mixin state-color($color) {
    border-color: $color;
    color: $color;
}

.created {
    @include state-color($success);
}

.restarting {
    @include state-color($info);
}

.paused {
    @include state-color($warning);
}

.running {
    @include state-color($primary);
}

.exited {
    @include state-color($danger);
}

.dead {
    @include state-color($disabled);
}

.container-phase {
    $state-circle-diameter: 160px;

    display: block;
    margin: auto;

    width: $state-circle-diameter;
    height: $state-circle-diameter;
    line-height: $state-circle-diameter - 5px;

    border-radius: $state-circle-diameter / 2;
    border: 2px solid;

    text-transform: capitalize;
    text-align: center;

    p {
        margin: auto;
        vertical-align: middle;
        display: inline-block;
        line-height: normal;

        .container-state {
            font-size: 14px;
        }

        .container-status {
            font-size: 12px;
        }
    }
}

.container-image {
    @include cw-clearfix;

    margin: 10px auto;
    text-align: center;

    .title {
        color: $default;
        float: left;
    }

    .name {
        float: right;
    }
}

.container-btn {
    color: $default;
    background-color: $content-item;

    border: $bootstrap-panel-header-border;
    text-transform: capitalize;

    &:hover, &:focus, &:active {
        color: $default;
        background-color: $content-item-selected;
    }

    .state-icon {
        width: 8px;
        height: 8px;
        display: inline-block;

        border: 4px solid;
        border-radius: 4px;
    }

    .state-badge {
        color: $content-item;
        background-color: $default;
    }
}