@import "theme";
@import "variables";

html {
    position: relative;
    min-width: 320px;
}

html, body {
    min-height: 100%;
    height: 100%;
    min-width: $resMin;
}

main {
    margin-left: $sidebar-width;
    padding-top: $header-height;
    position: relative;
    min-height: 100%;

    font: 14px/16px $font-family;
    color: $default-text;

    @include body-bg();

    .additional-bg {
        display: none;
        @include additional-bg();
    }
}

body {
    padding-top: 0;
    height: 100%;
    position: relative;

    background: #fafafa;
    font-family: $font-family;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    width: 100%;
    margin-top: 0;
}

.content {
    padding: 32px 8px;
}

@media screen and (max-width: $resXS) {
    .content {
        padding: 8px 20px;
    }
}

.divider {
    height: 1px;
    width: 98%;
    display: block;
    margin: 16px auto;
    overflow: hidden;
    background-color: $default-text;
}