@import "../app/shared/styles/theme";
@import "../app/shared/styles/variables";

html {
    position: relative;
    min-width: 320px;
}

html, body {
    min-height: 100%;
    height: 100%;
    min-width: $resMin;
}

body {
    padding-top: 0;
    height: 100%;
    position: relative;

    background: #fafafa;
    font-family: $font-family;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    width: 100%;
    margin-top: 0;
}

.row.vertical-align {
    display: flex;
    align-items: center;
}