$font-family: 'Roboti Condensed', sans-serif;

$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$header-height: 70px;
$sidebar-width: 190px;

$content-root: 'content/';
$images-root: $content-root + 'img/';
$fonts-root: $content-root + 'fonts/';

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 500;
$font-ultraBold: 900;