<div class="page-top">
    <h1 class="page-title">Containers</h1>
    <br>
    <div class="btn-group">
        <button *ngFor="let state of stateMetadata | keys" class="btn container-btn">
            <span class="state-icon {{state}}"></span>&nbsp;{{state}}&nbsp;<span class="badge state-badge">{{stateMetadata[state]}}</span>
        </button>
    </div>
</div>

<div *ngFor="let container of containers" class="col-md-4 col-sm-6 col-xs-12">
    <cw-card title="{{container.name | replace : '/'}}" [link]="true" (click)="onClickContainer(container)">
        <div class="container-phase sm {{container.state}}">
            <p>
                <span class="container-state">{{container.state}}</span>
                <br/>
                <span class="container-status">{{container.status}}</span>
            </p>
        </div>
        <cw-divider></cw-divider>
        <cw-info-item [name]="'Image'"
                      [divider]="false">
            <span class="value">{{container.image}}</span>
        </cw-info-item>
    </cw-card>
</div>